@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos customizados para garantir que tudo fique mais próximo da imagem */
body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
p {
  color: white;
}

.bg-gray-800 {
  background-color: #1E1E1E;
  /* Ajuste da cor de fundo para maior similaridade */
}

.bg-gray-700 {
  background-color: #292929;
  /* Cor do gráfico placeholder */
}

.text-gray-400 {
  color: #B0B0B0;
}